:80 {
	log

	handle /health {
		respond "OK" 200
	}

	handle {
		@install_script path_regexp user_repo ^/([^/]+)/([^/]+)/?$
		header @install_script Cache-Control "no-cache, no-store, must-revalidate"
		header @install_script Pragma "no-cache"
		header @install_script Expires "0"
		redir @install_script https://raw.githubusercontent.com/{re.user_repo.1}/{re.user_repo.2}/refs/heads/main/instll/install?v={http.request.uuid} 302

		@file path_regexp user_repo_file ^/([^/]+)/([^/]+)/(.+)$
		header @file Cache-Control "no-cache, no-store, must-revalidate"
		header @file Pragma "no-cache"
		header @file Expires "0"
		redir @file https://raw.githubusercontent.com/{re.user_repo_file.1}/{re.user_repo_file.2}/refs/heads/main/instll/{re.user_repo_file.3}?v={http.request.uuid} 302

		redir https://github.com/rbbr-io/instll.sh 302
	}
}
